* text=auto !eol
/ICSharpCode.SharpZipLib.dll -text
/autopano.exe -text
continents/africa.dat -text
continents/africa2nam.stg -text
continents/africa2nam_double.stg -text
continents/africa2nam_half.stg -text
continents/antartica.dat -text
continents/arabia.dat -text
continents/arabia_dp.dat -text
continents/australia.dat -text
continents/eu.dat -text
continents/eu_dp.dat -text
continents/eurasia.dat -text
continents/eurasia2nam.stg -text
continents/eurasia2nam_double.stg -text
continents/eurasia2nam_half.stg -text
continents/eurasia_cob.dat -text
continents/greenland.dat -text
continents/iberia.dat -text
continents/iberia2nam.stg -text
continents/iberia2nam_Sriva.stg -text
continents/iberia2nam_double.stg -text
continents/iberia2nam_double_Sriva.stg -text
continents/iberia2nam_half.stg -text
continents/iberia2nam_half_Sriva.stg -text
continents/india.dat -text
continents/india_dp.dat -text
continents/lista_polos.dat -text
continents/na_dp.dat -text
continents/north_america.dat -text
continents/polos_Cox.dat -text
continents/polos_Cox.stg -text
continents/polos_Cox_b.dat -text
continents/south_america.dat -text
/country_extract.exe -text
/cv100.dll -text
/cxcore100.dll -text
data/00N000E.jpg -text
data/00N045E.jpg -text
data/00N045W.jpg -text
data/00N090E.jpg -text
data/00N090W.jpg -text
data/00N135E.jpg -text
data/00N135W.jpg -text
data/00N180W.jpg -text
data/45N000E.jpg -text
data/45N045E.jpg -text
data/45N045W.jpg -text
data/45N090E.jpg -text
data/45N090W.jpg -text
data/45N135E.jpg -text
data/45N135W.jpg -text
data/45N180W.jpg -text
data/45S000E.jpg -text
data/45S045E.jpg -text
data/45S045W.jpg -text
data/45S090E.jpg -text
data/45S090W.jpg -text
data/45S135E.jpg -text
data/45S135W.jpg -text
data/45S180W.jpg -text
data/90N000E.jpg -text
data/90N045E.jpg -text
data/90N045W.jpg -text
data/90N090E.jpg -text
data/90N090W.jpg -text
data/90N135E.jpg -text
data/90N135W.jpg -text
data/90N180W.jpg -text
data/AKIM2000_poles.dat -text
data/AKIM2000_polyg.mat -text
data/AsteriskIcon.gif -text
data/BarCode_Cox_direct.dat -text
data/Cande_Kent_95.dat -text
data/DEOS2K_poles.dat -text
data/DSDP_ODP.dat -text
data/GMT_patterns.jpg -text
data/GMTproj_def.txt -text
data/MIRONE.GIF -text
data/MIRONE.tif -text
data/Nuvel1A_NNR_poles.dat -text
data/Nuvel1A_poles.dat -text
data/PB2002_AF.dat -text
data/PB2002_AN.dat -text
data/PB2002_EU.dat -text
data/PB2002_NA.dat -text
data/PB2002_steps.dat -text
data/PB_boundaries.mat -text
data/PB_poles.dat -text
data/PB_polyg.mat -text
data/PlateBound_PB.m -text
data/REVEL_poles.dat -text
data/REVEL_polyg.mat -text
data/SRSproj_def.txt -text
data/WorldMapTilled.mat -text
data/astrolabio.jpg -text
data/cafe_ico.png -text
data/cafe_logo113x100.png -text
data/caravela.jpg -text
data/caris256.mat -text
data/countries.bin -text
data/countries_dp5.bin -text
data/etopo2.jpg -text
data/ghost.gif -text
data/gimp256.mat -text
data/gmt_other_palettes.mat -text
data/gvp_world.kmz -text
data/hotspots.dat -text
data/iodp_doc.kmz -text
data/isochrons.dat -text
data/logo.png -text
data/logo_etopo2.jpg -text
data/m_coasts.mat -text
data/mapa_descobrimentos.jpg -text
data/mirone.ico -text
data/mirone_icons.mat -text
data/mirone_pref.mat -text
data/nuvel_polyg.mat -text
data/plateBoundaries_PB.kmz -text
data/point.png -text
data/point_predicted.png -text
data/quakes90-03.dat -text
data/swan.par -text
data/t_xtide.mat -text
data/volcanoes.dat -text
data/wcity.dat -text
data/wcity_major.dat -text
doc/MironeMan.chm -text
/gdal14.dll -text
/gdal_translate.exe -text
/gdalinfo.exe -text
/generatekeys.exe -text
/gmt.dll -text
/gmt_mgg.dll -text
gmt_userdir/.gmtdefaults_SI -text
gmt_userdir/.gmtdefaults_US -text
gmt_userdir/CUSTOM_font_info.d -text
gmt_userdir/ISO-8859-1.ps -text
gmt_userdir/ISO-8859-10.ps -text
gmt_userdir/ISO-8859-13.ps -text
gmt_userdir/ISO-8859-14.ps -text
gmt_userdir/ISO-8859-15.ps -text
gmt_userdir/ISO-8859-2.ps -text
gmt_userdir/ISO-8859-3.ps -text
gmt_userdir/ISO-8859-4.ps -text
gmt_userdir/ISO-8859-5.ps -text
gmt_userdir/ISO-8859-6.ps -text
gmt_userdir/ISO-8859-7.ps -text
gmt_userdir/ISO-8859-8.ps -text
gmt_userdir/ISO-8859-9.ps -text
gmt_userdir/ISOLatin1+.ps -text
gmt_userdir/ISOLatin1.ps -text
gmt_userdir/PSL_label.ps -text
gmt_userdir/PSL_prologue.ps -text
gmt_userdir/PSL_text.ps -text
gmt_userdir/PS_font_info.d -text
gmt_userdir/README_IF_YOU_CARE.TXT -text
gmt_userdir/Standard+.ps -text
gmt_userdir/Standard.ps -text
gmt_userdir/coastline.conf -text
gmt_userdir/gmt.conf -text
gmt_userdir/us.d -text
/gunzip.exe -text
/hd421m.dll -text
/hm421m.dll -text
lib_mex/alloc_mex.dll -text
lib_mex/applylutc.dll -text
lib_mex/avi.dll -text
lib_mex/bwboundariesmex.dll -text
lib_mex/bwlabel1.dll -text
lib_mex/bwlabel2.dll -text
lib_mex/country_select.dll -text
lib_mex/cpt2cmap.dll -text
lib_mex/cq.dll -text
lib_mex/cubicmx.dll -text
lib_mex/cvlib_mex.dll -text
lib_mex/ditherc.dll -text
lib_mex/gdalread.dll -text
lib_mex/gdalwrite.dll -text
lib_mex/gmtlist_m.dll -text
lib_mex/grayto16.dll -text
lib_mex/grayto8.dll -text
lib_mex/grayxform.dll -text
lib_mex/grdfilter_m.dll -text
lib_mex/grdgradient_m.dll -text
lib_mex/grdinfo_m.dll -text
lib_mex/grdppa_m.dll -text
lib_mex/grdproject_m.dll -text
lib_mex/grdread_m.dll -text
lib_mex/grdsample_m.dll -text
lib_mex/grdtrack_m.dll -text
lib_mex/grdtrend_m.dll -text
lib_mex/grdutils.dll -text
lib_mex/grdwrite_m.dll -text
lib_mex/houghmex.dll -text
lib_mex/igrf_m.dll -text
lib_mex/imfilter_mex.dll -text
lib_mex/imhistc.dll -text
lib_mex/imlincombc.dll -text
lib_mex/imreconstructmex.dll -text
lib_mex/ind2rgb8.dll -text
lib_mex/inv_lwm.dll -text
lib_mex/inv_piecewiselinear.dll -text
lib_mex/iptcheckinput.dll -text
lib_mex/libmwqhull.dll -text
lib_mex/mansinha_m.dll -text
lib_mex/mapproject_m.dll -text
lib_mex/mex_illuminate.dll -text
lib_mex/mex_shape.dll -text
lib_mex/mpgwrite.dll -text
lib_mex/mxgridtrimesh.dll -text
lib_mex/nearneighbor_m.dll -text
lib_mex/ogrproj.dll -text
lib_mex/ordf.dll -text
lib_mex/parityscan.dll -text
lib_mex/qhullmx.dll -text
lib_mex/range_change.dll -text
lib_mex/read_isf.dll -text
lib_mex/resampsep.dll -text
lib_mex/scaleto8.dll -text
lib_mex/shoredump.dll -text
lib_mex/surface_m.dll -text
lib_mex/susan.dll -text
lib_mex/swan.dll -text
lib_mex/swan_sem_wbar.dll -text
lib_mex/telha_m.dll -text
lib_mex/test_gmt.dll -text
lib_mex/tsun2.dll -text
lib_mex/tsun2_sem_wbar.dll -text
lib_mex/uigetfolder_win32.dll -text
lib_mex/uintlutc.dll -text
lib_mex/wave_travel_time.dll -text
lib_mex/wgifc.dll -text
/libecwj2.dll -text
/libguide40.dll -text
/libsift.dll -text
/lti_dsdk_dll.dll -text
mex/alloc_mex.c -text
mex/callMir.c -text
mex/countries.h -text
mex/country_extract.c -text
mex/country_select.c -text
mex/cpt2cmap.c -text
mex/cvcolor_mex.c -text
mex/cvlib_mex.c -text
mex/existmex.c -text
mex/gdalread.c -text
mex/gdalwarp_mex.c -text
mex/gdalwrite.c -text
mex/gmtlist_m.c -text
mex/grd2cdf.c -text
mex/grdfft_m.c -text
mex/grdfilter_m.c -text
mex/grdgradient_m.c -text
mex/grdinfo_m.c -text
mex/grdppa_m.c -text
mex/grdproject_m.c -text
mex/grdread_m.c -text
mex/grdsample_m.c -text
mex/grdtrack_m.c -text
mex/grdtrend_m.c -text
mex/grdutils.c -text
mex/grdwrite_m.c -text
mex/houghmex.cpp -text
mex/igrf_m.c -text
mex/ind2rgb8.c -text
mex/isf_head.h -text
mex/make_mexs.m -text
mex/mansinha_m.c -text
mex/mapproject_m.c -text
mex/mex_illuminate.c -text
mex/mex_shape.c -text
mex/mxgridtrimesh.c -text
mex/nearneighbor_m.c -text
mex/ogrproj.cpp -text
mex/range_change.c -text
mex/read_isf.c -text
mex/scaleto8.c -text
mex/set_gmt.c -text
mex/shoredump.c -text
mex/spa.c -text
mex/spa.h -text
mex/surface_m.c -text
mex/susan.c -text
mex/swan.c -text
mex/swan_com_wbar.c -text
mex/swan_sem_wbar.c -text
mex/telha.h -text
mex/telha_m.c -text
mex/test_gmt.c -text
mex/tsun2.c -text
mex/tsun2_com_wbar.c -text
mex/tsun2_sem_wbar.c -text
mex/typeconv.h -text
mex/wave_travel_time.c -text
/mexnc.dll -text
/mirone.m -text
/mirone_uis.m -text
/projectionMenu.m -text
/psl.dll -text
/shapelib.dll -text
src_figs/MagBarCode.m -text
src_figs/about_box.m -text
src_figs/animate_seismicity.m -text
src_figs/atlas.m -text
src_figs/bands_list.m -text
src_figs/bg_region.m -text
src_figs/bg_region_map_tilled.m -text
src_figs/choosebox.m -text
src_figs/classificationFig.m -text
src_figs/color_palettes.m -text
src_figs/compute_euler.m -text
src_figs/contouring.m -text
src_figs/coordinate_system.m -text
src_figs/deform_mansinha.m -text
src_figs/deform_okada.m -text
src_figs/digitalFiltering.m -text
src_figs/diluvio.m -text
src_figs/draw_scale.m -text
src_figs/earthquakes.m -text
src_figs/ecran.m -text
src_figs/euler_poles_selector.m -text
src_figs/euler_stuff.m -text
src_figs/fault_models.m -text
src_figs/fft_stuff.m -text
src_figs/find_clusters.m -text
src_figs/floodFill.m -text
src_figs/focal_meca.m -text
src_figs/geog_calculator.m -text
src_figs/gmtedit.m -text
src_figs/grdfilter_Mir.m -text
src_figs/grdgradient_Mir.m -text
src_figs/grdsample_Mir.m -text
src_figs/grdtrend_Mir.m -text
src_figs/grid_calculator.m -text
src_figs/griding_Mir.m -text
src_figs/igrf_options.m -text
src_figs/imageResize.m -text
src_figs/image_adjust.m -text
src_figs/image_enhance.m -text
src_figs/implanting_img.m -text
src_figs/listbox_message.m -text
src_figs/manual_pole_adjust.m -text
src_figs/mirone_pref.m -text
src_figs/mk_movie_from_list.m -text
src_figs/ml_clip.m -text
src_figs/mpaint.m -text
src_figs/nearneighbor_options.m -text
src_figs/overview.m -text
src_figs/paint_option.m -text
src_figs/parker_stuff.m -text
src_figs/plate_calculator.m -text
src_figs/pscoast_options_Mir.m -text
src_figs/rally_plater.m -text
src_figs/read_FlatFile.m -text
src_figs/roi_image_operations.m -text
src_figs/rotatetool.m -text
src_figs/scatter_plot.m -text
src_figs/select_cols.m -text
src_figs/shading_params.m -text
src_figs/show_palette.m -text
src_figs/smoothing_param.m -text
src_figs/snapshot.m -text
src_figs/srtm_tool.m -text
src_figs/surface_options.m -text
src_figs/swan_options.m -text
src_figs/tableGUI.m -text
src_figs/telhometro.m -text
src_figs/time_stamp.m -text
src_figs/tsunamovie.m -text
src_figs/umDmovie.m -text
src_figs/view_anuga.m -text
src_figs/vitrinite.m -text
src_figs/w_option.m -text
src_figs/write_gmt_script.m -text
src_figs/yes_or_no.m -text
/startup.m -text
/szlibdll.dll -text
/uigetfolder_standalone.m -text
/unzip.exe -text
utils/InOut2WS.m -text
utils/abifile.m -text
utils/add_poles.m -text
utils/addframe_j.m -text
utils/ancestor.m -text
utils/applylutc.dll -text
utils/area_geo.m -text
utils/aux_funs.m -text
utils/axes2pix.m -text
utils/azimuth_geo.m -text
utils/bi_linear.m -text
utils/bpass3d.m -text
utils/bwboundariesmex.dll -text
utils/bwlabel1.dll -text
utils/bwlabel2.dll -text
utils/calcBoninEulerPole.m -text
utils/calc_omori.m -text
utils/cdf2pal.m -text
utils/checkinput_mex.dll -text
utils/circ_geo.m -text
utils/clabel_j.m -text
utils/conv2anugapts.m -text
utils/cropimg.m -text
utils/datasets_funs.m -text
utils/date2jd.m -text
utils/datums.m -text
utils/days2hms.m -text
utils/ddewhite.m -text
utils/dec2deg.m -text
utils/dec_year.m -text
utils/decompress.m -text
utils/degree2dms.m -text
utils/dim_funs.m -text
utils/dms2degree.m -text
utils/double2ascii.m -text
utils/draw_funs.m -text
utils/edit_line.m -text
utils/edit_track_mb.m -text
utils/filter_funs.m -text
utils/findcell.m -text
utils/finite2stages.m -text
utils/frame3D.m -text
utils/gcirc.m -text
utils/gcpTool.m -text
utils/geog2projected_pts.m -text
utils/get_fnames_ext.m -text
utils/get_line_hand.m -text
utils/get_polygon.m -text
utils/get_reflectance.m -text
utils/getline_j.m -text
utils/getline_mb.m -text
utils/getnormals.m -text
utils/ginput_pointer.m -text
utils/gradient_geo.m -text
utils/grayto16.dll -text
utils/grayto8.dll -text
utils/grayxform.dll -text
utils/grd2anugadem.m -text
utils/grid_info.m -text
utils/griddata_j.m -text
utils/guess_file.m -text
utils/guess_file_old.m -text
utils/histo_m.m -text
utils/histos_seis.m -text
utils/imcapture.m -text
utils/imcrop.m -text
utils/imfilter_mex.dll -text
utils/img_fun.m -text
utils/img_fun.p -text
utils/imhistc.dll -text
utils/imlincombc.dll -text
utils/imreconstructmex.dll -text
utils/imscroll_j.m -text
utils/info_m.m -text
utils/int2str_m.m -text
utils/intmax.m -text
utils/inv3d.m -text
utils/inv_lwm.dll -text
utils/inv_piecewiselinear.dll -text
utils/iptcheckinput.dll -text
utils/iptchecknargin.m -text
utils/ivan_the_terrible.m -text
utils/jd2date.m -text
utils/limpa.m -text
utils/limpa.p -text
utils/load_defFilters.m -text
utils/load_grd.m -text
utils/luts.m -text
utils/mat_lyies.m -text
utils/mboard.m -text
utils/mc_e_b_estimate.m -text
utils/message_win.m -text
utils/mltable_j.m -text
utils/move2side.m -text
utils/movie2avi_j.m -text
utils/multibandread_j.m -text
utils/nc_funs.m -text
utils/nc_io.m -text
utils/nskew.m -text
utils/ordf.dll -text
utils/pan.m -text
utils/parityscan.dll -text
utils/patch_meca.m -text
utils/pixval_stsbar.m -text
utils/projectionMenu.m -text
utils/projection_menu.m -text
utils/put_or_get_file.m -text
utils/qhullmx.dll -text
utils/read_gdal_info.m -text
utils/read_gmt_grid.m -text
utils/read_gmt_type_grids.m -text
utils/read_textfile.m -text
utils/register_img.m -text
utils/resampsep.dll -text
utils/resetplotview.m -text
utils/resizetrue.m -text
utils/roi_filtering.m -text
utils/rot_euler.m -text
utils/rtp3d.m -text
utils/rubberbandbox.m -text
utils/run_and_report_error.m -text
utils/save_seismicity.m -text
utils/save_track_mb.m -text
utils/screen_capture.m -text
utils/scribefiglisten_j.m -text
utils/setAxesDefCoordIn.m -text
utils/shading_mat.m -text
utils/spl_fun.m -text
utils/spl_fun.p -text
utils/string_token.m -text
utils/syn3d.m -text
utils/t_xtide.m -text
utils/tabpanelfcn.m -text
utils/test_dms.m -text
utils/text_read.m -text
utils/tfw_funs.m -text
utils/tile.m -text
utils/tooltipwrap.m -text
utils/transform_fun.m -text
utils/transform_fun.p -text
utils/trimpatch.m -text
utils/tsu_funs.m -text
utils/ui_edit_patch_special.m -text
utils/ui_edit_polygon.m -text
utils/uicirclegeo.m -text
utils/uiclearmode_j.m -text
utils/uintlutc.dll -text
utils/uirestore_fig.m -text
utils/uirestore_j.m -text
utils/uistack_j.m -text
utils/uisuspend_fig.m -text
utils/uisuspend_j.m -text
utils/vdist.m -text
utils/vdist_vectorized.m -text
utils/waitfig.m -text
utils/wfindobj.m -text
utils/write_ESRI_hdr.m -text
utils/write_flederFiles.m -text
utils/writegif.m -text
utils/writekml.m -text
utils/zoom_j.m -text
/zlib1.dll -text
